.blurContainer {
  .container {
    h1 {
        letter-spacing: 1px;
    }
    .document {
        color: #fffdfa;
        h2 {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
  }
}
