@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9877FE;
    border-radius: 10px;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background-color: #2C2241;
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9877FE;
  }
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.area {
  position: fixed;
  z-index: -1;
  
  
  width: 90%;
  height: 100vh;
  left: 10%;
  top: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
  background-image: url("../../public/img/limited1.png");
  background-position: center center;
  background-size: cover;
  border: 2px solid rgba(255,255,255, 0.7);
  border-radius: 50% !important;
  &:nth-child(2) {
    
  }
  &:nth-child(3) {
    
  }
  &:nth-child(4) {
    
  }
  &:nth-child(5) {
    
  }
  &:nth-child(6) {
    
  }
  &:nth-child(7) {
    
  }
  &:nth-child(8) {
    
  }
  &:nth-child(9) {
    
  }
}


.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 70px;
  height: 70px;
  animation-delay: 2s;
  animation-duration: 12s;
  background-image: url("../../public/img/limited2.png");
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background-image: url("../../public/img/limited3.png");
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background-image: url("../../public/img/limited4.png");
}

.circles li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  background-image: url("../../public/img/limited5.png");
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background-image: url("../../public/img/limited6.png");
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  background-image: url("../../public/img/limited7.png");
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background-image: url("../../public/img/limited8.png");
}

.circles li:nth-child(9) {
  left: 20%;
  width: 45px;
  height: 45px;
  animation-delay: 2s;
  animation-duration: 35s;
  background-image: url("../../public/img/limited9.png");
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background-image: url("../../public/img/limited10.png");
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.defaultBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 6px 25px;
    cursor: pointer;
    background: #2f84fa;
    color: #fffdfa;
    font-size: 20px;
    font-weight: bold;
    border: none;
}