.inventory {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 6px 25px;
    cursor: pointer;
    background: #2f84fa;
    color: #fffdfa;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
  }
  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 45%;
      max-height: 500px;
      h2 {
        text-align: center;
        margin-bottom: 5px;
      }
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        min-height: 132px;
        overflow-y: auto;
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
        li {
          img {
            width: 100px;
            border-radius: 50%;
          }
          margin: 5px;
          list-style: none;
          border-radius: 50%;
          border: 2px solid white;
          cursor: pointer;
          &.added {
            border: 2px solid green;
          }
          &.block {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
